<div class="mr-2">
  <a mat-list-item routerLink="/" (click)="onRouteSelect()">
    <mat-icon class="align-middle" fontSet="material-icons-outlined"
      >home</mat-icon
    >
    <span class="ml-3 relative top-[2px]">Home</span>
  </a>
  <a mat-list-item routerLink="/about" (click)="onRouteSelect()">
    <mat-icon class="align-middle" fontSet="material-icons-outlined"
      >contact_page</mat-icon
    >
    <span class="ml-3 relative top-[2px]">About</span>
  </a>
  <a mat-list-item routerLink="/cv" (click)="onRouteSelect()">
    <mat-icon class="align-middle" fontSet="material-icons-outlined"
      >assignment</mat-icon
    >
    <span class="ml-3 relative top-[2px]">CV</span>
  </a>
  <a mat-list-item routerLink="/technologies" (click)="onRouteSelect()">
    <mat-icon class="align-middle" fontSet="material-icons-outlined"
      >desktop_windows</mat-icon
    >
    <span class="ml-3 relative top-[2px]">Technologies</span>
  </a>
  <a mat-list-item routerLink="/boardgames" (click)="onRouteSelect()">
    <mat-icon class="align-middle" fontSet="material-icons-outlined"
      >rocket</mat-icon
    >
    <span class="ml-3 relative top-[2px]">Board Games</span>
  </a>
  <a mat-list-item routerLink="/riddles" (click)="onRouteSelect()">
    <mat-icon class="align-middle" fontSet="material-icons-outlined"
      >psychology_alt</mat-icon
    >
    <span class="ml-3 relative top-[2px]">Riddles</span>
  </a>
</div>
