@use "tailwindcss";
@use "./styles/material-themes/mat-theme-base.css";
@plugin "@tailwindcss/typography";
@config "../tailwind.config.ts";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.azure-blue {
  mat-toolbar {
    & {
      background-color: #d7e3ff;
    }

    * {
      color: #005cbb;
    }
  }
}

body.magenta-violet {
  mat-toolbar {
    & {
      background-color: #810081;
    }

    * {
      color: #ffabf3;
    }
  }
}

.prose code::before,
.prose code::after {
  content: none;
}

.mdc-notched-outline__notch {
  border-right: none;
}
