<div cdkDropListGroup class="container-wrapper p-5 gap-0 sm:gap-6">
  @for (container of containers; track container.name) {
  <div class="flex flex-col">
    <div class="label">
      <strong>{{ container.name }}</strong>
      <div>{{ container.volume }}L / {{ container.capacity }}L</div>
    </div>
    <div class="flex-auto"></div>
    <div
      class="container w-12 sm:w-20 p-1 sm:p-2"
      [style.height.px]="(container.capacity / maxCapacity) * 240"
      cdkDropList
      [cdkDropListData]="container"
      [cdkDropListEnterPredicate]="isDroppable"
      (cdkDropListDropped)="onDrop($event)"
    >
      <div
        class="water"
        cdkDrag
        [cdkDragData]="container"
        [cdkDragDisabled]="container.volume === 0"
        [style.height.%]="(container.volume / container.capacity) * 100"
      >
        <div *cdkDragPreview class="drag-preview-box">
          💧 {{ container.volume }}L
        </div>
      </div>
    </div>
  </div>
  }
</div>
