<article
  class="prose prose-base sm:prose-lg prose-azure dark:prose-invert max-w-3xl mx-auto"
>
  <h1 class="font-medium text-center">About Me</h1>

  <img
    src="assets/images/about_me.JPEG"
    alt="about me image"
    class="float-left mr-6 w-64 min-w-40 max-w-full sm:max-w-xs h-auto rounded-lg object-cover"
  />

  <div class="text-justify mt-16">
    <p>
      Hello! My name is Kamil Kosiorek, and I'm a software engineer by
      profession. You're currently in an app I created both for fun and as a
      brief presentation of my skills. For example, you can explore the
      <a routerLink="/articles" class="cursor-pointer">blog</a> on the home page
      and the
      <a routerLink="/riddles" class="cursor-pointer">riddles</a> section, where
      you'll find interesting ideas to explore and even a few interactive
      challenges to engage with.
    </p>

    <p>
      I began my professional career in the construction sector after completing
      a master's degree in that field. I've always enjoyed math and knew there
      would be plenty of it there. However, I didn't have a passion for civil
      engineering and didn't feel fulfilled in that industry.
    </p>
    <p>
      On the other hand, I had a knack for programming as early as age 14, when
      I made my first turn-based game in Visual Basic. Unfortunately, due to
      various life circumstances and a lack of motivation, I didn't pursue that
      passion during high school. I've always regretted not choosing computer
      science as my first field of study. Fortunately, I later decided to change
      careers and completed another degree—this time in computer science. At
      that stage of my life, I was studying every day and landed my first job as
      a programmer while still in a university. I never looked back after that.
    </p>
    <p>
      In my free time, I continue to deepen my programming knowledge. It's a
      field where staying up to date is essential. Besides that, I'm really into
      board games, chess, and poker. For something more active, I've been into
      sport climbing for years. I also have a love for puzzles and escape rooms.
      Whenever I visit a new city, I always check out the most interesting
      options.
    </p>
    <p>
      That's a bit about me. I hope you enjoy your time on my site. Feel free to
      explore!
    </p>
  </div>
</article>
