<!-- <mat-toolbar class="justify-center items-center fixed bottom-0 gap-4">
  <div class="flex items-center gap-2">
    <a
      mat-button
      href="https://github.com/R0x0r77"
      target="_blank"
      rel="noopener"
      class="flex items-center gap-2"
    >
      <mat-icon svgIcon="github"></mat-icon>
      <span class="relative top-[2px]">GitHub</span>
    </a>
  </div>
  <span class="relative top-[2px]">2025 Kamil Kosiorek</span>
</mat-toolbar> -->

<mat-toolbar class="fixed bottom-0 w-full flex items-center px-4">
  <div class="flex items-center gap-2">
    <a
      mat-button
      href="https://github.com/R0x0r77"
      target="_blank"
      rel="noopener"
      class="flex items-center gap-2"
    >
      <mat-icon svgIcon="github"></mat-icon>
      <span class="text-base font-medium relative top-[2px]">GitHub</span>
    </a>
  </div>

  <span class="mx-auto relative top-[2px] text-base font-medium text-gray-500"
    >2025 Kamil Kosiorek</span
  >

  <div class="flex items-center gap-2">
    <a
      mat-button
      href="https://www.linkedin.com/in/kamil-kosiorek-384025150/"
      target="_blank"
      rel="noopener"
      class="flex items-center gap-2"
    >
      <span class="text-base font-medium relative top-[2px]">LinkedIn</span>
      <mat-icon svgIcon="linkedin"></mat-icon>
    </a>
  </div>
</mat-toolbar>
