<div
  class="p-6 rounded-xl bg-surface-container shadow-md min-w-52 max-w-2xl bg-[#d7e3ff] dark:bg-purple-900 mx-auto"
>
  <h2 class="text-2xl font-bold text-on-surface mb-1">{{ title }}</h2>
  <p class="text-md font-light text-on-surface-variant mb-4">
    {{ date | date : "dd-MM-yyyy" }}
  </p>

  <div class="flex flex-col-reverse md:flex-row gap-6">
    <div class="flex-1">
      <p class="text-base text-on-surface mb-4 line-clamp-4">
        <markdown>{{ excerpt }}...</markdown>
      </p>

      <div class="flex flex-wrap gap-2 mb-6">
        @for (tag of tags; track tag) {
        <span class="px-3 py-1 bg-primary/10 text-primary text-sm rounded-full">
          #{{ tag }}
        </span>
        }
      </div>

      <a [routerLink]="readMoreLink">
        <button mat-raised-button color="primary">Keep Reading</button>
      </a>
    </div>

    @if (imageUrl) {
    <div
      class="max-w-48 md:w-48 max-h-48 md:h-auto overflow-hidden rounded-lg shadow-md"
    >
      <img
        [src]="imageUrl"
        alt="Blog image"
        class="w-full h-full object-cover"
      />
    </div>
    }
  </div>
</div>
